
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/migrations/*.php

/public/images/categories/*.png
/public/images/categories/*.jpg

/public/images/subcategories/*.png
/public/images/subcategories/*.jpg

/public/images/usersAvatar/*.png
/public/images/usersAvatar/*.jpg
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

/.idea

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
