{% extends 'base.html.twig' %}

{% block title %}Editer l'annonce{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-5">
                <h1 class="my-5">Editer l'annonce</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}