/* Annonce */
.event {
    height: 300px;
}
@media (min-width: 576px) {
    .event{
        height: 250px;
    }
}
@media (min-width: 768px) {
    .event{
        height: 200px;
    }
}
@media (min-width: 1200px){
    .annonce + div{
        margin-left: 0 !important;
    }
}
.img-avatar{
    object-fit: contain;
    height: 60px;
    width: 60px;
}
@media (min-width: 992px) and (max-width: 1200px){
    .img-avatar{
        margin-right: 10px;
    }
}
    /* Categories */
a {
    color: #eaeaea;
    font-weight: bolder;
    text-decoration: underline;
}

/* Aside */
.aside {
    height: 60px;
}
.aside p{
    font-size: xx-small;
}
.users-connected span a, .admins-connected span a{
    color: var(--forum-darkblue);
}

/* Actualité (flux RSS) */
.wrapper {
    display: grid;
    border: 3px solid var(--forum-lightblue);
}
.wrapper .text {
    grid-column: 1 / 3;
    grid-row: 1;
}
.text img {
    max-width: 100%;
    height: auto;
}
