{% extends 'base.html.twig' %}

{% block title %}Erreur 500!{% endblock %}
{% block css %}

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('css/error500.css') }}">{% endblock css %}
{% block body %}
<body>
    <div class="full-screen">
        <div class="container1">
            <span class="error-num">500</span>
                <div class="message">Erreur Serveur</div>
                    <div class="error-500" data-text="la page demandée ne peut pas être chargée. Nous serons de retour bientôt !">
                    </div>
                </div>
</body>
 {#<img  class="image-fluid" src="{{ asset('images/500.png') }}"> #}
{#<img style="width: 100%; height: auto;  " src="{{ asset('images/404.png') }}" class="img-fluid"  alt="Erreur 404, Page Not Found">#}

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/error500.js') }} "></script>

{% endblock %}


