{% extends 'base.html.twig' %}

{% block title %}Modifier la sous-catégorie{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h1 class="my-5">Modifier la sous-catégorie</h1>
            {{ form(form) }}
        </div>
    </div>
</div>

{% endblock %}